body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.mainBoxBody {
  padding: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 4mm ridge rgba(0, 0, 0, 0.7);
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  margin-top: 140px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Monospace;
  
  }


.mainBoxTopic {
  border-style: solid;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px 0 black;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: transparent;
  backdrop-filter: blur(100px);
  color: black;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


.inputTaskBox {
  display: block;
  width: 90%;
  height: 30px;
  box-shadow: 0 8px 6px -6px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputTaskButton {
  display: block;
  border: auto;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: darkgreen;
  height: 26px;
  align-content: center;
  margin: auto;  
  margin-bottom: 10px;
  /* margin-left: 270px;
  margin-top: 10px; */
}

.content {
  width: 90%;
  margin: 10px 10px 10px 10px;
  border: 2px solid gray;
  color: black;
  max-width: 500px;
  text-wrap: wrap;
  display: flex;
  /* align-items: center; */
  gap: 15px;
  padding: 5px;
  border-radius: 5px;
  /* transition: all 250ms; */
  /* backdrop-filter: blur(90px); */
  /* flex-direction: column; */
}

.content > span, .content > .todo-input {
  display: inline-block;
  max-width: 500px;
  word-break: break-all;
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
  /* white-space: break-spaces;  */
  flex: 1;
}


.contentBox {
  border: thick double #000000;
  border-radius: 10px;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: auto;

}

.buttonDelete {
  /* float: right; */
}

.buttonEdit {
  /* float: right; */
}


/* align-items => cross-axis */
/* justify-content => main-axis */



/* .todo-checkbox:checked + span {
  background-color: green;
} */


.content:hover {
  cursor: pointer;
}

.content:not(:has(.todo-checkbox:checked)):hover {
  border-color: black;
  border-width: 2px;
}

.content:has(.todo-checkbox:checked) {
  background-color: #80ed99;
}

.content:has(.todo-checkbox:checked) > span {
  /* background-color: blue; */
  text-decoration: line-through;
}

/* sibling selectors */
/* + => direct sibling */
/* ~ => any sibling ...after... */

/* .taskCheckBoxUncomplete {
    width: 82%;
    padding-left: 5px;
}
  
.taskCheckBoxComplete {
    font-style: italic;
    color: #cdcdcd;
    text-decoration: line-through;
    width: 82%;
    padding-left: 5px;
} */













